name: Reusable (R05) - Build and Deploy Integration

on:
  workflow_call:
    inputs:
      infra-directory:
        required: true
        type: string
      integration-directory:
        required: true
        type: string
    secrets:
      azure-credentials:
        required: true
      azure-resource-group:
        required: true

jobs:
  build-infrastructure:
    name: R01 Build Bicep Infrastructure
    uses: ./.github/workflows/_R01.build-infra.yml
    with:
      infra-directory: ${{ inputs.infra-directory }}

  build-functionapp:
    name: R03 Build Function App
    uses: ./.github/workflows/_R03.build-functionapp.yml
    with:
      integration-directory: ${{ inputs.integration-directory }}

  deploy-infrastructure:
    name: R02 Deploy Infrastructure
    needs: [build-infrastructure, build-functionapp]
    uses: ./.github/workflows/_R02.deploy-infra.yml
    secrets:
      azure-credentials: ${{ secrets.azure-credentials }}
      azure-resource-group: ${{ secrets.azure-resource-group }}

  deploy-functionapp:
    name: R04 Deploy Function App
    needs: [build-functionapp, deploy-infrastructure]
    uses: ./.github/workflows/_R04.deploy-functionapp.yml
    with:
      functionapp-name: ${{ needs.deploy-infrastructure.outputs.app-name }}
    secrets:
      azure-credentials: ${{ secrets.azure-credentials }}
      azure-resource-group: ${{ secrets.azure-resource-group }}

