name: Todoist

on:
  push:
    branches: [ main ]
    paths:
      - 'integrations/Todoist/infra/**'
      - 'integrations/Todoist/src/**'
      - 'Directory.*.props'
      - 'global.json'

  pull_request:
    branches: [ main ]
    paths:
      - 'integrations/Todoist/infra/**'
      - 'integrations/Todoist/src/**'
      - 'Directory.*.props'
      - 'global.json'

  workflow_dispatch:

jobs:
  build-and-deploy:
    name: R05 Build and Deploy Integration
    uses: ./.github/workflows/_R05.deploy-integration.yml
    with:
      infra-directory: ./integrations/Todoist/infra
      integration-directory: ./integrations/Todoist
    secrets:
      azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
      azure-resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
